/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */

.img-fluid {
    width: 100%;
}

/* LAYOUT */

header {
    height: 10vh;
}

main {
    height: 90vh;
}

.container {
    max-width: 900px;
}

/* FLEX */

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

/* POSITION */

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* HEADER */

header {
    background-image: url(../img/wall.png);
    font-family: 'Edu Tas Beginner', sans-serif;
}

header h1 {
    text-align: center;
    line-height: 10vh;
    font-size: 55px;
}

/* MAIN */

main {
    background-image: url(../img/cork.png);
    padding-top: 60px;
}

.container {
    margin: 0 auto;
}

#photo-section {
    gap: 20px;
}

.red-dot {
    width: 35px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo-card {
    width: calc(100% / 3 - calc(40px / 3));
    background-color: aliceblue;
    padding: 15px;
}

.photo-img {
    width: 100%;
}

.card-text {
    font-family: 'Sometype Mono', 'monospace';
    margin-top: 10px;
}

.card-text span {
    color: gray;
}

.card-text h3 {
    font-size: 24px;
}

/* RESPONSIVE */

@media screen and (min-width: 2000px) {

    header h1 {
        font-size: 75px;
    }

    .container {
        max-width: 1200px;
    }

}

@media screen and (max-width: 992px) {

    main {
        height: 100%;
        padding-bottom: 60px;
    }

    .container {
        max-width: 720px;
    }

    .photo-card {
        width: calc(100% / 2 - calc(40px / 2));
    }

}

@media screen and (max-width: 768px) {

    main {
        padding: 60px 160px;
    }

    .container {
        max-width: 100%;
    }

    .photo-card {
        width: 100%;
    }

}

@media screen and (max-width: 576px) {

    main {
        padding: 60px 100px;
    }

}