/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */

.img-fluid {
    width: 100%;
}

/* LAYOUT */

header {
    width: 100vw;
    height: 10vh;
}

main {
    width: 100vw;
    height: 90vh;
}

.container {
    max-width: 900px;
    height: 95%;
}

/* FLEX */

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

/* HEADER */

header {
    background-image: url(../img/wall.png);
    font-family: 'Edu Tas Beginner', sans-serif;
}

header h1 {
    text-align: center;
    line-height: 10vh;
    font-size: 55px;
}

/* MAIN */

main {
    background-image: url(../img/cork.png);
    padding-top: 60px;
}

.container {
    margin: 0 auto;
}

#photo-section {
    height: 100%;
    gap: 20px;
}

.photo-card {
    width: calc(100% / 3 - calc(40px / 3));
    height: calc(100% / 2- calc(20px / 3));
    background-color: aliceblue;
    padding: 15px;
}

.photo-img {
    width: 100%;
}

.photo-text {
    margin-top: 10px;
}